/* 폰트 */
@font-face {
  font-family: "Galmuri7";
  src: url("../fonts/Galmuri7.ttf");
}

@font-face {
  font-family: "Galmuri9";
  src: url("../fonts/Galmuri9.ttf");
}

:root {
	--font-galmuri7: "Galmuri7";
	--font-galmuri9: "Galmuri9";

  --main-pink: #FF80C2;
  --light-purple: #FFDBFF;
}

/* 배경 */
.container {
  width: 100vw;
  min-height: 100vh - 5vw;
  padding-bottom: 5vw;
  
  background-color: var(--main-pink);
}

/* 메인 홈 */
.title {
  text-align : center;
  padding-top: 6vh;
  padding-bottom: 4vh;
}
.titleLink {
  text-decoration-line: none;
  font-family: var(--font-galmuri7);
  font-size: 7vw;
  color: black;
}

/* 브라우저 창 frame */
.mainFrame {
  width: 90vw;
  min-height: 83vh;

  margin-left: 5vw;
  margin-right: 5vw;
  
  background-color: var(--light-purple);

  border-style: solid;
  border-color: black;
  border-width: 0.1vw;
}

/* 브라우저 창 header */
.frameHeader {
  width: 88vw;
  height: 7.205vw;
  object-fit: cover;

  margin: 1vw;
}

/* 디데이 */
.dDay {
  font-family: var(--font-galmuri7);
  font-size: 7vw;
  color: var(--main-pink);

  text-align: left;
  margin-left: 6vw;
  margin-top: 2vh;
}

.contentFrame {
  width: 80vw;
  min-height: 67vh;
  margin: 5vw;
  
  background-color: white;

  border-style: solid;
  border-color: var(--main-pink);
  border-width: 0.1vw;
}

.contentText {
  margin: 3vw;

  font-family: var(--font-galmuri9);
  font-size: 3.2vw;
  color: black;
}